### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Importing pandas
import pandas as pd
import numpy as np

# Filepath
csvfile = "Resources/purchase_data.csv"

# Read file and create Dataframe
purchase_data_df = pd.read_csv(csvfile)

## Player Count

* Display the total number of players

In [2]:
#Get the total player count and store in DF
total_players = len(purchase_data_df["SN"].unique())
player_count_df = pd.DataFrame({"Total Players":[total_players]})

#Format
player_count_df.style.set_properties(**{'text-align': 'left'})

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Obtaining different information
unique_items = len(purchase_data_df["Item Name"].unique())
average_price = "${:,.2f}". format(purchase_data_df["Price"].mean())
total_purchases = len(purchase_data_df)
total_revenue = "${:,.2f}". format(purchase_data_df["Price"].sum())

#Store in dataframe
purchasing_analysis_df = pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price":[average_price],
    "Number of Purchases":[total_purchases],
    "Total Revenue":[total_revenue]
})

#Format
purchasing_analysis_df.style.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Drop duplicates to get unique players 
unique_players_df = purchase_data_df.drop_duplicates(["SN"])

#Obtain different information by gender 
male_count = unique_players_df.loc[unique_players_df["Gender"] == "Male","SN"].count()
male_percent = "{:.2%}". format(male_count/total_players)
female_count = unique_players_df.loc[unique_players_df["Gender"] == "Female","SN"].count()
female_percent = "{:.2%}". format(female_count/total_players)
others_count = unique_players_df.loc[unique_players_df["Gender"] == "Other / Non-Disclosed","SN"].count()
others_percent = "{:.2%}". format(others_count/total_players)

#Store in new DF
gender_demographics_df = pd.DataFrame({
    "":["Male", "Female", "Other / Non-Disclosed"],
    "Total Count":[male_count, female_count, others_count],
    "Percentage":[male_percent, female_percent, others_percent],
    })
gender_demographics_df.set_index("").style.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#New df grouped by adding count, mean, sum
gender_df = purchase_data_df.groupby("Gender")["Price"].agg(['count','mean','sum'])

#Rename columns
gender_renamed_df = gender_df.rename(columns={
    "count":"Purchase Count",
    "mean":"Average Purchase Price",
    "sum":"Total Purchase Value"
})

#Add unique buyers & calculate average
gender_renamed_df["Unique Buyers"] = [81,484,11]
gender_renamed_df["Avg Total Purchase per Person"] = (gender_renamed_df["Total Purchase Value"]/gender_renamed_df["Unique Buyers"])

#Create gender_demographics_df with format
gender_demographics_df = gender_renamed_df[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]].style.format({'Average Purchase Price':'${:,.2f}','Total Purchase Value':'${:,.2f}','Avg Total Purchase per Person':'${:,.2f}' })
gender_demographics_df.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Create bins and categories
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,1000]
age_categories = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#Copied unique players df and added Age Ranges
unique_bins_df = unique_players_df.copy()
unique_bins_df["Age Ranges"] = pd.cut(unique_players_df['Age'],bins,labels=age_categories,include_lowest=True)

#Grouped to get count and calculated percentage
grouped_bins_df = unique_bins_df.groupby("Age Ranges")["SN"].agg(['count'])
grouped_bins_df["Percentage of Players"] = grouped_bins_df['count']/grouped_bins_df['count'].sum()

#Renamed categories and formatting
grouped_bins_renamed_df = grouped_bins_df.rename(columns={
    "count":"Total Count",
})
age_demographics_df = grouped_bins_renamed_df[["Total Count","Percentage of Players"]].style.format({'Percentage of Players':'{:.2%}'})
age_demographics_df.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Creating new df with bins
age_range = purchase_data_df.copy()
age_range["Age Ranges"] = pd.cut(purchase_data_df['Age'],bins,labels=age_categories,include_lowest=True)

#Group by age ranges and price to obtain count, mean, sum
age_range_grouped = age_range.groupby("Age Ranges")["Price"].agg(['count','mean','sum'])

#Add avg total purchase/person to df  **Saved a step from earlier
age_range_grouped["Avg Total Purchase per Person"] = age_range_grouped['sum']/grouped_bins_renamed_df["Total Count"]

#Rename
age_range_grouped = age_range_grouped.rename(columns={
    "count":"Purchase Count",
    "mean":"Average Purchase Price",
    "sum":"Total Purchase Value"
})

#Store in new and format
purchasing_analysis_age = age_range_grouped.style.format({
    'Average Purchase Price':'${:,.2f}',
    'Total Purchase Value':'${:,.2f}',
    'Avg Total Purchase per Person':'${:,.2f}' 
})
purchasing_analysis_age.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Create a new df and rename columns
top_spenders = purchase_data_df.groupby("SN")["Price"].agg(['count','mean','sum'])
top_spenders_renamed = top_spenders.rename(columns={
    "count":"Purchase Count",
    "mean":"Average Purchase Price",
    "sum":"Total Purchase Value"
})
#Sort and format, used head while formatting since Stylers don't have that attribute
top_spender_sorted = top_spenders_renamed.sort_values("Total Purchase Value", ascending=False)
top_spender_format = top_spender_sorted.head().style.format({
    'Average Purchase Price':'${:,.2f}',
    'Total Purchase Value':'${:,.2f}',
})
top_spender_format.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Create a new df and rename columns
popular_items = purchase_data_df.groupby(["Item ID","Item Name"])["Price"].agg(['count','mean','sum'])
popular_items_renamed = popular_items.rename(columns={
    "count":"Purchase Count",
    "mean":"Average Purchase Price",
    "sum":"Total Purchase Value"
})

#Sort and format
popular_items_sorted_count = popular_items_renamed.sort_values("Purchase Count", ascending=False)
popular_items_format_count = popular_items_sorted_count.head().style.format({
    'Average Purchase Price':'${:,.2f}',
    'Total Purchase Value':'${:,.2f}',
})
popular_items_format_count.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#Sort and format
popular_items_sorted_total = popular_items_renamed.sort_values("Total Purchase Value", ascending=False)
popular_items_format_total = popular_items_sorted_total.head().style.format({
    'Average Purchase Price':'${:,.2f}',
    'Total Purchase Value':'${:,.2f}',
})
popular_items_format_total.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])


## Conclusions

After analyzing the In-Game Purchasing Data we can observe there are the following trends:

  * 84% of purchases were made by Male players
  * 45% of purchases were made by players are in the Age Range of 20-24 years
  * Normal distribution for Purchases by Age Range
  * The most popular item was "Final Critic" but represents less than 3% of Number of Purchases and Total Purchase Value
  
In conclusion Gender and Age Demographics are important factors to take into consideration for designing Items in the Shop and the main focus should be on male players in the 20-24 age group.