### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Assigning data to variables
total_schools = len(school_data_complete["school_name"].unique())
total_students = (school_data_complete["student_name"].count())
total_budget = school_data["budget"].sum()
avg_math_score = school_data_complete["math_score"].mean()
avg_read_score = school_data_complete["reading_score"].mean()
pass_math = 100*school_data_complete["math_score"].loc[(school_data_complete["math_score"]>=70)].count()/total_students
pass_read = 100*school_data_complete["reading_score"].loc[(school_data_complete["reading_score"]>=70)].count()/total_students
pass_overall = 100*school_data_complete["math_score"].loc[(school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70)].count()/total_students

#Store in dataframe and format
district_summary_df = pd.DataFrame({
    "Total Schools":[total_schools],
    "Total Students":["{:,}".format(total_students)],
    "Total Budget":["${:,.2f}".format(total_budget)],
    "Average Math Score":[avg_math_score],
    "Average Reading Score":[avg_read_score],
    "% Passing Math":[pass_math],
    "% Passing Reading":[pass_read],
    "% Overall Passing":[pass_overall]
})
district_summary_df.style.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
#Add Passing columns (1 = pass, 0 = fail) for combined DF
school_data_complete["pass math"] = np.where(school_data_complete["math_score"]>=70,1,0)
school_data_complete["pass reading"] = np.where(school_data_complete["reading_score"]>=70,1,0)
school_data_complete["pass overall"] = np.where((school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70),1,0)

#Get scores averages and pass % per school
scores_by_school = school_data_complete.groupby("school_name")[["reading_score","math_score","pass math","pass reading","pass overall"]].agg('mean')

#Merge with school data
school_summary = pd.merge(school_data, scores_by_school, how="left", on=["school_name", "school_name"])

#Add per student budget
school_summary["per_student_budget"] = school_summary["budget"]/school_summary["size"]

#Multiply pass by 100
school_summary["pass math"] = school_summary["pass math"]*100
school_summary["pass reading"] = school_summary["pass reading"]*100
school_summary["pass overall"] = school_summary["pass overall"]*100

#Filter columns and reorder
school_summary_clean = school_summary[["school_name","type","size","budget","per_student_budget","math_score","reading_score","pass math","pass reading","pass overall"]]

#Rename columns
school_summary_renamed = school_summary_clean.rename(columns={
    "school_name":" ",
    "type":"School Type",
    "size":"Total Students",
    "budget":"Total School Budget",
    "per_student_budget":"Per Student Budget",
    "math_score":"Average Math Score",
    "reading_score":"Average Reading Score",
    "pass math":"% Passing Math",
    "pass reading":"% Passing Reading",
    "pass overall":"% Overall Passing"
}).set_index(" ")

#Sort and format
school_summary_format = school_summary_renamed.sort_values(by=[" "]).style.format({
    'Total School Budget':'${:,.2f}',
    'Per Student Budget':'${:,.2f}',
})
school_summary_format.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
#Sorting school_summary_renamed by Overall Passing
top_overall = school_summary_renamed.sort_values("% Overall Passing", ascending=False)

#Format and print
top_overall_format = top_overall.head().style.format({
    'Total School Budget':'${:,.2f}',
    'Per Student Budget':'${:,.2f}',
})
top_overall_format.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
#Sorting school_summary_renamed by Overall Passing
bot_overall = school_summary_renamed.sort_values("% Overall Passing", ascending=True)

#Format and print
bot_overall_format = bot_overall.head().style.format({
    'Total School Budget':'${:,.2f}',
    'Per Student Budget':'${:,.2f}',
})
bot_overall_format.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
#Creating each series
ninth = school_data_complete.loc[school_data_complete["grade"] == "9th",["school_name","math_score"]]
tenth = school_data_complete.loc[school_data_complete["grade"] == "10th",["school_name","math_score"]]
eleventh = school_data_complete.loc[school_data_complete["grade"] == "11th",["school_name","math_score"]]
twelveth = school_data_complete.loc[school_data_complete["grade"] == "12th",["school_name","math_score"]]

#Grouping by school
ninth_grouped = ninth.groupby("school_name").mean()
tenth_grouped = tenth.groupby("school_name").mean()
eleventh_grouped = eleventh.groupby("school_name").mean()
twelveth_grouped = twelveth.groupby("school_name").mean()

#Merge and rename columns, set index +Format
ninth_tenth = pd.merge(ninth_grouped,tenth_grouped,how="left", on="school_name")
ninth_tenth_renamed = ninth_tenth.rename(columns={
    "math_score_x":"9th",
    "math_score_y":"10th"
})
ninth_tenth_eleventh = pd.merge(ninth_tenth_renamed,eleventh_grouped,how="left", on="school_name")
ninth_tenth_eleventh_twelveth = pd.merge(ninth_tenth_eleventh,twelveth_grouped,how="left", on="school_name")
math_bygrade = ninth_tenth_eleventh_twelveth.reset_index()
math_bygrade_renamed = math_bygrade.rename(columns={
    "school_name":"",
    "math_score_x":"11th",
    "math_score_y":"12th"
}).set_index("")
math_bygrade_renamed.style.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
#Creating series
read_9 = school_data_complete.loc[school_data_complete["grade"] == "9th",["school_name","reading_score"]]
read_10 = school_data_complete.loc[school_data_complete["grade"] == "10th",["school_name","reading_score"]]
read_11 = school_data_complete.loc[school_data_complete["grade"] == "11th",["school_name","reading_score"]]
read_12 = school_data_complete.loc[school_data_complete["grade"] == "12th",["school_name","reading_score"]]

#Grouping by school
read_9_grouped = read_9.groupby("school_name").mean()
read_10_grouped = read_10.groupby("school_name").mean()
read_11_grouped = read_11.groupby("school_name").mean()
read_12_grouped = read_12.groupby("school_name").mean()

#Merge and rename columns, set index +Format
read_9_10 = pd.merge(read_9_grouped,read_10_grouped,how="left", on="school_name")
read_9_10_renamed = read_9_10.rename(columns={
    "reading_score_x":"9th",
    "reading_score_y":"10th"
})
read_9_10_11 = pd.merge(read_9_10_renamed,read_11_grouped,how="left", on="school_name")
read_9_10_11_12 = pd.merge(read_9_10_11,read_12_grouped,how="left", on="school_name")
reading_bygrade = read_9_10_11_12.reset_index()
reading_bygrade_renamed = reading_bygrade.rename(columns={
    "school_name":"",
    "reading_score_x":"11th",
    "reading_score_y":"12th"
}).set_index("")
reading_bygrade_renamed.style.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
#Create bins
spending_bins = [0,585,630,645,680]
spending_categories = ["<$585","$585-630","$630-645","$645-680"]

#Copied school_data_complete and added Spending
spending_ranges = school_summary_renamed.copy()
spending_ranges["Spending Ranges (Per Student)"] = pd.cut(school_summary_renamed["Per Student Budget"],bins=spending_bins,labels=spending_categories,include_lowest=True)

#Groupby and round format +Format
spending_ranges_grouped = spending_ranges.groupby("Spending Ranges (Per Student)")[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]].agg("mean")
spending_ranges_grouped.round(2).style.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
#Create bins
size_bins = [0,1000,2000,5000]
size_categories = ["Small (<1000)","Medium (1000-2000)","Large (2000-5000)"]

#Copied school_data_complete and added Spending
size_ranges = school_summary_renamed.copy()
size_ranges["School Size"] = pd.cut(school_summary_renamed["Total Students"],bins=size_bins,labels=size_categories,include_lowest=True)

#Groupby and print +Format
size_ranges_grouped = size_ranges.groupby("School Size")[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]].agg("mean")
size_ranges_grouped.style.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Scores by School Type

* Perform the same operations as above, based on school type

In [10]:
#Copied school_data_complete and Groupby School Type +Format
school_type = school_summary_renamed.copy()
school_type_grouped = school_type.groupby("School Type")[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]].agg("mean")
school_type_grouped.style.set_properties(**{'text-align': 'left'}).set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Conclusions

After analyzing the School and Student Data we can observe there are the following trends:

  * School Type & Size: There is a huge difference in Average Scores and % Passing, for Charter Schools 90% of students pass overall while only 54% of students pass in District Schools. When considering size, Small and Medium Schools have similar overall pass with 90% and only 58% for Large Schools. 
  
  
  * Spending Ranges: As Spending per Student increases the average scores and % passing decreases for every metric. 
  
We can conclude that in Small and Medium Schools students might be getting more personalized attention than in Large Schools and that might explain the better test scores and % of students that pass. On the other hand as School Spending per Student increases the Average Scores are dropping, this might be explained by having many distractions for students that lose focus on their study.